.container {
  width: full;
  border: 1px solid white;
  border-radius: 25px;
  padding: 20px;
}

.completed {
  text-decoration: line-through;
}

.dialogue {
  width: 400px;
  border: 1px solid white;
  padding: 15px;
  background-color: rgb(81, 81, 81);
  /* position: absolute; */
  /* top: 10%; */
  /* left: 50%; */
  margin: auto;
  z-index: 1;
}

.accordion {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.accordion-sec {
  transition: all 0.2s ease-in-out;
  padding: 15px;
  background-color: rgb(81, 81, 81);
  border: 1px solid white;
  width: 100px;
}

.accordion-sec span {
  cursor: pointer;
}

.widthani {
  width: 300px;
}

.dropdown ul {
  border: 1px solid white;
  width: fit-content;
  padding: 10px;
}

.dropdown ul li {
  list-style-type: none;
  text-decoration: none;
  text-indent: none;
  border: 1px solid white;
  width: 100px;
  margin: 2px;
  text-align: center;
  padding: 10px;
  background-color: rgb(83, 83, 83);
  cursor: pointer;
}
.dropdown h1 {
  width: fit-content;
  cursor: pointer;
}
.dropdown ul li:hover {
  background-color: white;
  color: black;
}

.searchresult {
  height: 300px;
  overflow-y: scroll;
  width: fit-content;
  margin: auto;
}
